flow.json
[{"id":"c8e98353.4fb1b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3665a161.6a9af6","type":"wechselrichter","z":"c8e98353.4fb1b","name":"","method":"GET","ret":"txt","url":"","follow-redirects":true,"x":480,"y":120,"wires":[["53c106c1.3fb498"],["a2a9d5f9.70269"],["b9cb0ede.ef8718"],[]]},{"id":"6963bfef.4bb5e8","type":"function","z":"c8e98353.4fb1b","name":"","func":"msg2 = {};\nmsg3 = {};\nmsg4 = {};\n\nif (flow.get(\"wr1Typ\") === \"0\"){\n  msg = null;\n} else {\n  msg.wechselrichter = parseInt(\"4\");\n  msg.ip = \"www.google.de\";\n  msg.user = \"111\";\n  msg.password = \"222\";\n  msg.adresse1=266;\n}\nif (flow.get(\"wr2Typ\") === \"0\"){\n  msg2 = null;\n} else {\n  msg2.wechselrichter = parseInt(flow.get(\"wr2Typ\"));\n  msg2.ip = flow.get(\"wr2IP\");\n  msg2.user = flow.get(\"wr2Name\");\n  msg2.password = flow.get(\"wr2pw\");\n}\nif (flow.get(\"wr3Typ\") === \"0\"){\n  msg3 = null;\n} else {\n  msg3.wechselrichter = parseInt(flow.get(\"wr3Typ\"));\n  msg3.ip = flow.get(\"wr3IP\");\n  msg3.user = flow.get(\"wr3Name\");\n  msg3.password = flow.get(\"wr3pw\");\n}\nif (flow.get(\"wr4Typ\") === \"0\"){\n  msg4 = null;\n} else {\n  msg4.wechselrichter = parseInt(flow.get(\"wr4Typ\"));\n  msg4.ip = flow.get(\"wr4IP\");\n  msg4.user = flow.get(\"wr4Name\");\n  msg4.password = flow.get(\"wr4pw\");\n}\n\nreturn [msg,msg2,msg3,msg4];","outputs":4,"noerr":0,"x":210,"y":240,"wires":[["3665a161.6a9af6"],[],[],[]]},{"id":"9ed6c9cc.d6e19","type":"inject","z":"c8e98353.4fb1b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["6963bfef.4bb5e8"]]},{"id":"53c106c1.3fb498","type":"debug","z":"c8e98353.4fb1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":60,"wires":[]},{"id":"a2a9d5f9.70269","type":"debug","z":"c8e98353.4fb1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":100,"wires":[]},{"id":"b9cb0ede.ef8718","type":"debug","z":"c8e98353.4fb1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":140,"wires":[]},{"id":"8065d2a8.1886","type":"ui_template","z":"c8e98353.4fb1b","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":420,"y":420,"wires":[[]]},{"id":"20c04196.e7f5e6","type":"inject","z":"c8e98353.4fb1b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":340,"wires":[["8aebb454.b645c8"]]},{"id":"8aebb454.b645c8","type":"function","z":"c8e98353.4fb1b","name":"","func":"function uint16ToFloat32(low, high) {\n  var buffer = new ArrayBuffer(4);\n  var intView = new Uint16Array(buffer);\n  var floatView = new Float32Array(buffer);\n\t\t\n  intView[0] = low;\n  intView[1] = high;\n  return floatView[0];\n}\n\nmsg.payload = uint16ToFloat32(parseInt(189), parseInt(1));\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["6180e3a0.7bf734"]]},{"id":"6180e3a0.7bf734","type":"debug","z":"c8e98353.4fb1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":340,"wires":[]}]